#titulo{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#j1{
    display: inline-block; 
    font-family: 'Roboto Mono', monospace;
}
#j2{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
}
#jugadores{
    text-align: center;
    margin-bottom: 20px;
    height: 100px;
    font-family: 'Roboto Mono', monospace;
}
.circulo-1{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: red;
    display: inline-block;
    
}
.circulo-2{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: yellow;
    display: inline-block;
}
#tabla{
    background-color: blue;
    margin:auto;
    text-align: center;
    height: auto;
    width: auto;
    margin-bottom: 25px;
    
}
th{
    
    height: 50px;
    width: 50px;
    background-color:blue;
    
    
    

}

td{
    border-radius: 1000000px;
    border-color: blue;
    border-style: solid;
    border-width: 10px;
    height: auto;
    width: auto;
    padding: 0px;
}
.boton{
    
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: white;

}
#btn-reiniciar{
    background-color: green;
    width: 150px;
    height: 50px;
    color: white;
    font-size: medium;
    font-family: 'Roboto Mono', monospace;
    
}
#reiniciar{
    margin: auto;
    text-align: center;
}
#ganador{
    margin-top: 150px;
    font-family: 'Roboto Mono', monospace;
}